body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
#game-container {
    position: relative;
    width: 1280px;
    height: 720px;
    /*border: 10px solid black; 
    box-sizing: content-box;*/
    outline: 10px solid black; /*borderだとconfigのmode:Phaser.Scale.FIT,と衝突する*/
    margin: 20px auto; 
    padding: 0;
    /*line-height: 0*/
}

#dialog-window {
    position: absolute;
    /*display: none; classListにする*/
    bottom: 50px;     
    left: 50%;
    transform: translateX(-50%); 
    width: 800px;
    height: 180px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    padding: 20px;
}
.hidden{
    display:none !important;
}

#dialog-name-container {
    position: absolute;
    top: 10px;
    left: 20px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

#dialog-text-container {
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-size: 24px;
}
/*
#inventory{
    position: absolute;
    top: 50px;
    right: 50px;
    border: 2px solid black;
    width: 300px;
    padding: 15px;
    z-index: 200;
    background-color: black;
    color: white;
}
#inventory-item{
    list-style: none;
    padding: 0;
    margin: 0;
}
*/
#menu-window{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    border: 4px solid black;
    background-color: white;
    width: 1150px;
    height: 590px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 200;
    color: black;
}
.menu-content{
    /*padding: 0;
    margin: 0;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    font-size: 36px;
    padding: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    
    justify-items: center;
    align-items: center;
}/*HTMLではidになってる。けどこれはMenuContentでclassList.add('menu-content')で作ったクラス。
idで場所を指定して、addで同じ名前のクラスを作ってそこでCSSを指定している。*/
.menu-btn{
    cursor: pointer;
}
/*classList.addはhtmlにclass追加しなくても自動で加えてくれる*/
#title-screen{
    z-index: 300;
    top: 0;
    left: 0;
    position: absolute;
    width: 1280px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-align: center;
    /*flex,align,justify,text-align,flex-direction*/
}
/*#title-logo{
    
}*/
#start-button{
    /*position: absolute;*/
    width: 80px;
    height: 60px;
    /*top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    この書き方、真ん中に寄せる*/
}
.profile-container{
    border: 4px solid blue;
    background-color: darkcyan;
    border-radius: 10px;
    z-index: 500;
    width: 100vh;
    height: 60vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
/*.radar-chart-conatiner{
    width: 200px;
    height: 200px;
    z-index: 510;
    background-color: white;
    position: relative;
}*/