#game-container {
    position: relative;
    width: 1000px;
    height: 1000px;
}

#dialog-window {
    position: absolute;
    /*display: none; classListにする*/
    bottom: 50px;     
    left: 50%;
    transform: translateX(-50%); 
    width: 800px;
    height: 180px;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px solid white;
    padding: 20px;
}
.hidden{
    display:none !important;
}

#dialog-name-container {
    position: absolute;
    top: 10px;
    left: 20px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

#dialog-text-container {
    position: absolute;
    top: 50px;
    left: 20px;
    color: white;
    font-size: 24px;
}
#inventory{
    position: absolute;
    border: 2px solid black;
    width: 800px;
    height: 800px;
    margin: auto;
}